In [1]:
import pandas as pd

In [4]:
student_data = pd.read_csv('students_performance.csv', sep=',')

In [5]:
display(student_data.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
#Данные о скольких студентах содержатся в таблице?
display(student_data.shape[0])

1000

In [9]:
#Каков балл по письму у студента под индексом 155?
display(student_data.loc[155, 'writing score'])

88

In [13]:
#Сколько суммарно пропущенных значений в таблице?
display(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

In [29]:
#Каков у студентов средний балл по математике?
display(round(student_data['math score'].mean()))

66

In [32]:
#Какая расовая группа является самой крупной в учебном заведении?
display(student_data["race/ethnicity"].mode())

0    group C
Name: race/ethnicity, dtype: object

In [48]:
#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
display(round(student_data[student_data["test preparation course"]=="completed"]["reading score"].mean()))

74

In [52]:
#Сколько студентов получили 0 баллов по математике?
display(student_data[student_data['math score']==0].shape[0])

1

In [63]:
#Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
#В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
math_mean_paid_lunch=student_data[student_data['lunch']=='standard']['math score'].mean()
math_mean_free_lunch=student_data[student_data['lunch']=='free/reduced']['math score'].mean()
display((math_mean_paid_lunch>math_mean_free_lunch))
display(round(math_mean_paid_lunch))
display(round(math_mean_free_lunch))

True

70

59

In [72]:
#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
display(round((student_data[student_data['parental level of education']=="bachelor's degree"].shape[0])/1000*100))

12

In [79]:
#Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
A_median=student_data[student_data['race/ethnicity']=='group A']['writing score'].median()
C_median=student_data[student_data['race/ethnicity']=='group C']['writing score'].median()
display(abs(round(A_median-C_median)))

6