In [2]:
import pandas as pd

In [3]:
ufo_data = pd.read_csv('ufo.csv', sep=',')

In [4]:
display(ufo_data.head())

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo_data['Time']=pd.to_datetime(ufo_data['Time'],dayfirst=True)
display(ufo_data['Time'].head())

0   1930-01-06 22:00:00
1   1930-06-30 20:00:00
2   1931-02-15 14:00:00
3   1931-01-06 13:00:00
4   1933-04-18 19:00:00
Name: Time, dtype: datetime64[ns]

In [6]:
#В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?
year=ufo_data['Time'].dt.year
year_mode=year.mode()
print(year_mode)

0    1999
Name: Time, dtype: int64

In [10]:
#Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
#Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.
#Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().
#Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.

ufo_data['date']=ufo_data['Time'].dt.date
print(ufo_data[ufo_data['State']=='NV']['date'].diff().dt.days.mean())

68.72084805653711